@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* basic */
* { margin:0; padding:0; border:0; font-family: 'Lato', 'NanumSquare', sans-serif !important; letter-spacing:-0.025em; line-height: 100%; }
html, body { width:100%;}
body { margin:0; padding:0; font-size: 14px; color:#000; font-family: 'Lato', 'NanumSquare', sans-serif; }
label, input, button, select { vertical-align:middle; }
input{background:transparent;}
input, button { margin:0; padding:0; font-family: 'Lato', 'NanumSquare', sans-serif !important; font-size:1em; }
button { cursor:pointer; }

textarea, select { width:100%; box-sizing:border-box; border:0; }

#header input:-webkit-autofill{ -webkit-box-shadow: 0 0 0 30px none inset; -webkit-text-fill-color: transparent; } 
input:-webkit-autofill{ -webkit-box-shadow: 0 0 0 30px none inset; -webkit-text-fill-color: #000; } 

select::-ms-expand { display: none; }


/* input box color */ input:-webkit-autofill { -webkit-box-shadow: 0 0 0 30px transparent inset ; -webkit-text-fill-color: #000; background-color:transparent; } input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; background-color:transparent }


/* 시멘틱태그설정 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

/* 링크 */
a:link, a:visited { color:#000; text-decoration:none; }
a:hover, a:focus, a:active { color:#000; text-decoration:none; }

/* 기타설정 */
img { max-width:100%; vertical-align:top; }
ul, ol, li { list-style:none; margin:0; padding:0; }
p { word-break:keep-all; }

.hidden { overflow:hidden; margin-right:0.33vw; }
.visible { overflow:visible; }
.scroll {overflow:hidden;}

table{border-spacing:0;}
.line_none{border:none;}